[submodule "ext/c-logger"]
	path = ext/c-logger
	url = git@github.com:yksz/c-logger.git
[submodule "ext/Unity"]
	path = ext/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "ext/estdlib"]
	path = ext/estdlib
	url = git@github.com:malachi-iot/estdlib.git
